@import "tailwindcss";
@font-face {
  font-family: 'alkanz';
  src: url('../assets/fonts/Al-Kanz.ttf') format('truetype');
}
/* Your custom global variables */
:root {
  --primary: var(--color-amber-50);
  --secondary: var(--color-amber-950);
  --tertiary: var(--color-amber-100);
}



body {
  background: var(--primary);
}

.writings{
  @apply absolute top-10 w-full flex flex-col items-center justify-center text-center;

}
.invite-text{
  font-family: 'alkanz';
  @apply text-4xl drop-shadow-lg;
}

.tomb{
    @apply w-full h-96 object-fill;
}
.fade-container {
    position: relative;
}
.fade-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust to control the fade area */
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--primary) 50%);
    pointer-events: none; /* Allows interaction with the image */
}
.lantern{
    @apply absolute top-0 right-6 w-24 h-52 object-cover;
    animation: swing 1.2s ease-in-out infinite;
    transform-origin: top center;
}
.lantern2{
    @apply absolute top-0 right-56 w-16 h-44 object-cover;
    animation: swing 1.1s ease-in-out infinite;
    transform-origin: top center;
}
.lantern3{
    @apply absolute top-0 right-36 w-12 h-32 object-cover;
    animation: swing 1s ease-in-out infinite;
    transform-origin: top center;
}

@keyframes swing {
  0%   { transform: rotate(3deg); }
  50%  { transform: rotate(-3deg); }
  100% { transform: rotate(3deg); }
}
